<template name="custom_layout">
  {{#if appIsReady}}
    {{> css}}
    <div class="outer-wrapper {{currentPage}} {{navLayout}}">
      {{> mobile_nav}}
      <div class="inner-wrapper template-{{pageName}}">
        {{> header}}
        <div class="toolbar">
          {{> modules zone="primaryNav" zoneClass="nav primary-nav desktop-nav header-module desktop-only" moduleClass="header-submodule"}}
          <div class="underline"></div>
        </div>
         <div class="container containerHero">
        {{> modules zone="hero"}}
        </div>


        <div class="content-wrapper">
          <div class="container">

          {{#if notAllowed}}
            {{> Template.dynamic template=notAllowed.template data=notAllowed.data}}
          {{else}}
            {{> Template.dynamic template=adminMenu}}
            {{> modules zone="contentTop"}}

            {{> Template.dynamic template=main}}
            {{> modules zone="contentBottom"}}
          {{/if}}
          {{> modules zone="footer"}}
        </div>
        <div class="overlay hidden"></div>
      {{{extraCode}}}
      </div>
      </div>
    </div>
  {{else}}
    <div class="app-loading">{{> loading}}</div>
  {{/if}}
</template>
