<template name="custom_categories_menu_item">

  {{#if showMultiple}}

    <span class="menu-item-label lala">
      <span class="menu-item-label-text js-category-toggle">
        <label class="category-label">
          <input type="checkbox" {{isChecked}} class="category-checkbox" name="{{item.data._id}}"/>
          {{{getItemLabel}}}
        </label>
      </span>
      {{#if description}}<span class="menu-item-label-description">{{{getDescription}}}</span>{{/if}}
    </span>

  {{else}}

    <a class="menu-item-label lala" href="{{itemRoute}}">
      <span class="menu-item-label-text">{{{getItemLabel}}}</span>
      {{#if description}}<span class="menu-item-label-description">{{{getDescription}}}</span>{{/if}}
    </a>

  {{/if}}

  {{#if childMenuItems}}
    <a class="menu-items-toggle js-menu-toggle  lala" href="#">
      {{> menuIconExpand}}
      {{> menuIconCollapse}}
    </a>
  {{/if}}

</template>
